<h1>Updates feed</h1>
<section class="updates-feed">
  <% @updates.map {|update| %>
  <div class="updates-feed__container">
    <div class="updates-feed__container__date-user">
      <span><%= update.created_at %></span>
      <span><%= update.user_handle %></span>
    </div>
    <p class="updates-feed__container__message"><%= update.message %></p>
  </div>
  <% } %>
</section>